.bg-video {
  height: 100vh;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: 100%;
  }

  &__cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4000;
    background-color: rgba(0,0,0, .7);
  }
}
