.project {
  padding-top: 2rem;
  position: relative;
  z-index: 30;
  height: 23rem;
  overflow: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  border-top: 1px solid #f1f1f1;
  cursor: pointer;
  width: $width-project;
  transition: border-bottom 0 cubic-bezier(0.68, 0, 0.35, 1);
  &__heading {

  }
  &--1 {
    background: linear-gradient(rgba($color-terinary, 0.8), rgba($color-terinary, 0.8)), url("../images/macro-man.jpg") no-repeat center;
    @include projectImageLayout;
  }

  &--2 {
    background: linear-gradient(rgba($color-terinary, 0.8), rgba($color-terinary, 0.8)), url("../images/jello.jpg") no-repeat center;
    @include projectImageLayout;
  }

  &--3 {
    background: linear-gradient(rgba($color-terinary, 0.8), rgba($color-terinary, 0.8)), url("../images/taparoo.jpg") no-repeat center;
    @include projectImageLayout;
    background-position: 100% 60%;
  }

  &--4 {
    background: linear-gradient(rgba($color-terinary, 0.8), rgba($color-terinary, 0.8)), url("../images/mirror-mirror.jpg") no-repeat center;
    @include projectImageLayout;
    background-position: 100% 40%;
    border-bottom: 1px solid #f1f1f1;
  }

  &::before {
    overflow: hidden;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $width-project;
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0.68, 0, 0.35, 1);
  }

  &:hover {
    box-shadow: 0.5rem 1rem 1rem rgba($color-grey-dark,.5);
    z-index: 5000;
    // border-bottom: 1px solid transparent;
  }
  &--4:hover {
    border-bottom: 1px solid transparent;
  }
  &:hover::before {
    overflow: hidden;
    transform: translateX(100%);
    width: $width-project;
  }

  ,
  &:hover .project__link {
    color: #fff;
    padding-left: 8rem;
  }

  &__link {
    position: relative;
    z-index: 40;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    width: 100%;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
  }
}
