.project {
  position: relative;

  &__container {
    padding-top: 2rem;
    position: relative;
    height: 25vh;
    overflow: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    cursor: pointer;
    width: $width-project;
    transition: all 0.5s;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 5500;
    transition: transform 0.2s, box-shadow 0.2s;

    &::before {
      overflow: hidden;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: $width-project;
      background-color: #fff;
      transition: all 0.4s cubic-bezier(0.68, 0, 0.35, 1);
    }

    &:hover {
      z-index: 5200;
      box-shadow: 0.5rem 0.5rem 4rem rgba($color-grey-dark,.5);
    }

    &:hover::before {
      overflow: hidden;
      transform: translateX(100%);
      // width: $width-project;
    }

    &:hover + .project__container .project__link {
      color: #fff;
      margin-left: 25vh;
    }

    &:not(:last-child) {
      border-top: 1px solid #f1f1f1;
    }

    &:hover:not(:last-child) {
      border-top: 1px solid transparent;
    }
  }

  &__checkbox:checked + &__button {
    position: absolute;
    z-index: 5600;
    cursor: pointer;
    background-color: $color-primary;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    top: 2rem;
    right: 2rem;
    box-shadow: 0 1rem 3rem rgba($color-black, .3);
    text-align: center;
  }

  &__checkbox:checked + &__button:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 2rem 4rem rgba($color-black, .3);
  }

  &__checkbox:checked + &__button &__icon {
    position: relative;
    margin-top: 3rem;
    background-color: transparent;

    &,
    &::after,
    &::before {
      width: 4rem;
      height: 2px;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      background-color: $color-grey-dark-3;
      transition: top 0.2s, transform 0.2s;
    }

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }

  &__checkbox:checked ~ &__container {
    height: 100vh;
    -webkit-background-size: cover;
    z-index: 5500;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    cursor: default;
    box-shadow: 0.5rem 1rem 1rem rgba($color-grey-dark,.5);
  }

  &__checkbox:checked + &__button::before {
    display: none;
  }

  &__checkbox:checked ~ &__container &__link:link,
  &__checkbox:checked ~ &__container &__link:visited {
    font-size: 10rem;
    font-family: 'Third Rail', sans-serif;
    padding: 0;
    color: $color-primary;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    margin: 0;
  }

  &__heading {
    grid-column: center-start/center-end;
  }

  &--1 {
    background: linear-gradient(rgba($color-terinary, 0.8), rgba($color-terinary, 0.8)), url("http://res.cloudinary.com/jcliff1473/image/upload/c_scale,w_1384/v1516764733/portfolio/macro-man_zcbzz3.jpg") no-repeat center;
    @include projectImageLayout;
  }

  &--2 {
    background: linear-gradient(rgba($color-terinary, 0.8), rgba($color-terinary, 0.8)), url("../images/jello.jpg") no-repeat center;
    @include projectImageLayout;
  }

  &--3 {
    background: linear-gradient(rgba($color-terinary, 0.8), rgba($color-terinary, 0.8)), url("../images/taparoo.jpg") no-repeat center;
    @include projectImageLayout;
    background-position: 100% 60%;
  }

  &--4 {
    background: linear-gradient(rgba($color-terinary, 0.8), rgba($color-terinary, 0.8)), url("../images/mirror-mirror.jpg") no-repeat center;
    @include projectImageLayout;
    background-position: 100% 40%;
  }

  &__link:link,
  &__link:visited {
    margin-left: 20vh;
    position: relative;
    font-size: 1.4rem;
    color: #333;
    z-index: 5505;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
  }
  @media only screen and (max-width: $bp-large) {
    &__container {
      height: 70vh;
      -webkit-background-size: cover;
      z-index: 5501;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      display: grid;
      justify-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      cursor: default;
      box-shadow: 0.5rem 1rem 1rem rgba($color-grey-dark, .5);
    }
    &__checkbox:checked ~ &__container {
      height: 100vh;
    }
    &__container &__link:link,
    &__container &__link:visited {
      font-size: 10rem;
      font-family: 'Third Rail', sans-serif;
      padding: 0;
      color: $color-primary;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.5s;
      margin: 0;
    }
    &__button{
      position: absolute;
      z-index: 5600;
      cursor: pointer;
      background-color: $color-primary;
      border-radius: 20%;
      height: 6rem;
      width: 3rem;
      bottom: 6rem;
      left: calc(50vw - 3rem);
      box-shadow: 0 1rem 3rem rgba($color-black, .3);
      transition: all 2s;
      text-align: center;
      &::before{
        display: none;
      }
    }
    &__checkbox:checked + &__button {
      transform: translateY(3rem);
      opacity: 0;
    }
  }
}

.description {
  color: $color-white;
  margin-top: 3rem;

  &__heading {
    margin: 2rem;
    font-size: 2rem;
    font-weight: 600;
  }

  &__text {
    font-size: 1.5rem;
  }

  &__tech {
    font-size: 1.8rem;
  }
}
