.sidebar {
  grid-column: sidebar-start/sidebar-end;
  @media only screen and (max-width: $bp-large) {
    grid-column: full-start-full-end;
  }
  position: relative;
  background-color: #fff;

  &__logo {
    height: 7rem;
    width: 7rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      z-index: 6000;
      transform: translateY(-.5rem);
      -webkit-filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,0.5));
      filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,0.5));
    }
  }

  &__container {
    height: 100vh;
    z-index: 6100;
    background-color: #fff;
    width: 8rem;
    display: flex;
    overflow: hidden;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    align-content: space-between;
    justify-content: space-between;
    position: fixed;
    align-items: center;

    box-shadow: 0.5rem 0 1rem rgba($color-grey-dark,.5);
    @media only screen and (max-width: $bp-large) {
      width: 100vw;
      height: 8rem;
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
    }
  }

  &__social {
    @media only screen and (max-width: $bp-large) {
      display: flex;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
    }
  }
}

.navigation {
  position: relative;

  &__checkbox {
    display: none;
  }

  &__background {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 8rem;
    opacity: 0;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    z-index: 5700;
    backface-visibility: hidden;
    transition: width 0.4s cubic-bezier(0.68, 0.55, 0.265, 1.55), opacity 0.4s;
    @media only screen and (max-width: $bp-large) {
      left: 0;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    transition: all 0.4s cubic-bezier(0.68, 0.55, 0.265, 1.55);
    backface-visibility: hidden;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-primary;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary 50%);
      background-size: 220%;
      transition: all 0.2s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:active,
    &:hover {
      background-position: 100%;
      color: $color-grey-light-1;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    opacity: 1;
    width: $width-project;
    backface-visibility: hidden;
    @media only screen and (max-width: $bp-large) {
      width: 100vw;
    }
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    // margin-left: 8rem;
    width: $width-project;
    z-index: 6000;
    @media only screen and (max-width: $bp-large) {
      width: 100vw;
    }
  }

  &__button {
    background-color: #fff;
    height: 8rem;
    width: 8rem;
    position: fixed;
    top: calc(50% - 4rem);
    left: 0;
    z-index: 6101;
    text-align: center;
    cursor: pointer;
    @media only screen and (max-width: $bp-large) {
      top: 0;
      left: calc(50vw - 4rem);
    }
  }

  &__icon {
    position: relative;
    margin-top: 4rem;

    &,
    &::after,
    &::before {
      width: 4rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transition: top 0.2s, transform 0.2s;
    }

    &::before {
      top: -1.2rem;
    }

    &::after {
      top: 1.2rem;
    }
  }

  &__button:hover &__icon,
  &__button:hover &__icon::after,
  &__button:hover &__icon::before {
    background-color: $color-primary;
    transition: all 0.2s;
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button:hover &__icon {
    transform: translateY(-.5rem);
  }
  &__checkbox:checked + &__button &__icon::after,
  &__checkbox:checked + &__button &__icon::before {
    background-color: $color-primary;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: .5rem;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: .5rem;
    transform: rotate(-135deg);
  }

  &__checkbox:checked + &__button:hover &__icon::after,
  &__checkbox:checked + &__button:hover &__icon::before {
    transform: rotate(0), scale(1.2);
  }
}
