:root {
  --color-primary: #04f799;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

main {
  display: grid;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

@font-face {
  font-family: 'Third Rail';
  src: url("../css/fonts/third_rail_-_demo-webfont.woff2") format("woff2"), url("../css/fonts/third_rail_-_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.heading__primary {
  font-family: 'Third Rail', sans-serif;
  color: var(--color-grey-light-2);
  font-size: 15rem; }

.heading__secondary {
  padding-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--color-grey-light-2);
  font-size: 3rem;
  text-transform: uppercase; }

.heading--main {
  font-size: 4rem;
  font-weight: 500;
  padding: 4rem 0;
  margin-left: 8vw;
  line-height: 1.5; }

.heading--dash {
  height: 3px;
  width: 7rem;
  background-color: #04f799;
  display: block; }

.about {
  grid-column: center-start/center-end;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  position: relative;
  z-index: -1; }
  .about__container {
    margin-top: 8vw;
    font-size: 4rem;
    font-weight: 500; }
  .about__heading {
    margin-bottom: 6rem;
    color: #222022; }
  .about__paragraph {
    color: #04f799; }

.contact {
  grid-column: full-start/full-end;
  min-height: 60vh;
  background-color: #04f799; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(247, 247, 247, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
    border-bottom: 3px solid #04f799; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #4c4947; }
  .form__input::webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.footer {
  grid-column: full-start/full-end;
  min-height: 20vh;
  background-color: #222022; }

.header {
  backface-visibility: hidden;
  grid-column: full-start/full-end;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/coffee-computer.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.heading {
  backface-visibility: hidden;
  display: flex;
  text-align: center;
  flex-direction: column; }

.projects {
  margin-top: 8rem;
  grid-column: full-start/full-end;
  display: grid;
  grid-row-gap: 4rem; }

.resume {
  padding: 8rem 0;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0.5rem 1rem 1rem rgba(119, 119, 119, 0.5);
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .resume__heading {
    grid-column: 1/-1; }
  .resume__display {
    padding: 5rem 0;
    height: 100vh;
    width: 100%;
    z-index: 3000;
    grid-column: center-start/ center-end; }

.social__list {
  list-style: none;
  margin-bottom: 1rem; }

.social__item {
  list-style: none;
  padding: .5rem 0; }

.social__icon {
  width: 2rem;
  height: 2rem;
  transition: all .2s; }
  .social__icon:hover {
    transform: translateY(-0.5rem); }

.container {
  display: grid; }

.bg-video {
  height: 100vh; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: 100%; }
  .bg-video__cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4000;
    background-color: rgba(0, 0, 0, 0.7); }

.project {
  padding-top: 2rem;
  position: relative;
  z-index: 30;
  height: 23rem;
  overflow: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  border-top: 1px solid #f1f1f1;
  cursor: pointer;
  width: calc(100vw - 8rem);
  transition: border-bottom 0 cubic-bezier(0.68, 0, 0.35, 1); }
  .project--1 {
    background: linear-gradient(rgba(34, 32, 34, 0.8), rgba(34, 32, 34, 0.8)), url("../images/macro-man.jpg") no-repeat center;
    width: 100%;
    object-fit: cover;
    background-size: 100%;
    background-position: 100% 65%; }
  .project--2 {
    background: linear-gradient(rgba(34, 32, 34, 0.8), rgba(34, 32, 34, 0.8)), url("../images/jello.jpg") no-repeat center;
    width: 100%;
    object-fit: cover;
    background-size: 100%;
    background-position: 100% 65%; }
  .project--3 {
    background: linear-gradient(rgba(34, 32, 34, 0.8), rgba(34, 32, 34, 0.8)), url("../images/taparoo.jpg") no-repeat center;
    width: 100%;
    object-fit: cover;
    background-size: 100%;
    background-position: 100% 65%;
    background-position: 100% 60%; }
  .project--4 {
    background: linear-gradient(rgba(34, 32, 34, 0.8), rgba(34, 32, 34, 0.8)), url("../images/mirror-mirror.jpg") no-repeat center;
    width: 100%;
    object-fit: cover;
    background-size: 100%;
    background-position: 100% 65%;
    background-position: 100% 40%;
    border-bottom: 1px solid #f1f1f1; }
  .project::before {
    overflow: hidden;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100vw - 8rem);
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0.68, 0, 0.35, 1); }
  .project:hover {
    box-shadow: 0.5rem 1rem 1rem rgba(119, 119, 119, 0.5);
    z-index: 5000; }
  .project--4:hover {
    border-bottom: 1px solid transparent; }
  .project:hover::before {
    overflow: hidden;
    transform: translateX(100%);
    width: calc(100vw - 8rem); }
  .project,
  .project:hover .project__link {
    color: #fff;
    padding-left: 8rem; }
  .project__link {
    position: relative;
    z-index: 40; }
  .project__link:link, .project__link:visited {
    font-size: 1.4rem;
    width: 100%;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s; }

.sidebar {
  grid-column: sidebar-start/sidebar-end;
  position: relative;
  background-color: #fff;
  z-index: 6000; }
  .sidebar__container {
    min-height: 100vh;
    background-color: #fff;
    width: 8rem;
    display: flex;
    overflow: hidden;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    box-shadow: 0.5rem 0 1rem rgba(119, 119, 119, 0.5); }
  .sidebar__social {
    display: flex;
    flex-direction: column; }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__background {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 8rem;
    opacity: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2500;
    backface-visibility: hidden;
    transition: width 0.4s cubic-bezier(0.68, 0.55, 0.265, 1.55), opacity 0.4s; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    transition: all 0.4s cubic-bezier(0.68, 0.55, 0.265, 1.55);
    backface-visibility: hidden; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #04f799;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #04f799 50%);
    background-size: 220%;
    transition: all 0.2s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:active, .navigation__link:hover {
    background-position: 100%;
    color: #f7f7f7;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    opacity: 1;
    width: calc(100vw - 8rem);
    backface-visibility: hidden; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    margin-left: 8rem;
    width: calc(100vw - 8rem);
    z-index: 5000; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 8rem;
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 6001;
    text-align: center;
    cursor: pointer; }
  .navigation__icon {
    position: relative;
    margin-top: 3rem; }
    .navigation__icon, .navigation__icon::after, .navigation__icon::before {
      width: 4rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::after, .navigation__icon::before {
      content: "";
      position: absolute;
      left: 0;
      transition: top 0.2s, transform 0.2s; }
    .navigation__icon::before {
      top: -1.2rem; }
    .navigation__icon::after {
      top: 1.2rem; }
  .navigation__button:hover .navigation__icon,
  .navigation__button:hover .navigation__icon::after,
  .navigation__button:hover .navigation__icon::before {
    background-color: #04f799;
    transition: all .2s; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button:hover .navigation__icon {
    transform: translateY(-0.5rem); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after,
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    background-color: #04f799; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked + .navigation__button:hover .navigation__icon::before,
  .navigation__checkbox:checked + .navigation__button:hover .navigation__icon::after {
    transform: rotate(0), scale(1.2); }
