.about {
  grid-column: center-start/center-end;
  min-height: 90vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  position: relative;
  z-index: -1;
  &__container{
    margin-top: 8vw;
    font-size: 4rem;
    font-weight: 500;

  }
  &__heading{
    margin-bottom: 6rem;
    color: $color-terinary;

  }
  &__paragraph{
    color: $color-primary;
  }
}
