.contact {
  grid-column: full-start/full-end;
  min-height: 100vh;
  // width: $width-project;
  background-image: linear-gradient(to right, rgba($color-primary, .9), rgba(darken($color-primary, 20%), .9));
  box-shadow: inset 0.5rem 1rem 1rem rgba($color-grey-dark,.5);
  display: grid;
  align-content: center;
  &__email--message{
    position: absolute;
    margin-top: -3rem;
  }
  &__form {
    // padding: 5rem;
    width: 70%;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%),url("../images/contact.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  }
}

.form {
  &__group {
    padding: 6rem 4rem;
    width: 45%;
  }

  &__heading {
    padding-bottom: 4rem;
    padding-top: 0;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    // background-color: rgba($color-grey-light-1, 1);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-grey-dark-3, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary;
    }

    &::webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__button {
    border: none;
    color: $color-primary;
    font-size: 2rem;
    border-bottom: 1px solid currentColor;
    padding-top: 2rem;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-.5rem);
    }
    &:focus {
      outline: none;

    }
  }

  &__icon--send {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: .5rem;
    fill: currentColor;
    transition: all .4s;
  }

  &__button:hover &__icon--send {
    margin-left: 1.5rem;
  }


}
