.header {
  grid-column: full-start/full-end;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("http://res.cloudinary.com/jcliff1473/image/upload/c_scale,w_824/v1516764680/portfolio/coffee-computer_ztgwip.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  backface-visibility: hidden;
  display: flex;
  text-align: center;
  flex-direction: column;
}
